body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #FAFAFA;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

#container {
  margin: 0 auto;
  width: 1000px;
}

.col {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}